[Unit]
Description=RClone: Hetzner
After=network-online.target

[Service]
Type=notify
ExecStart=/home/sanand/.local/bin/mise x rclone -- rclone mount hetzner:/ /mnt/hetzner --vfs-cache-mode full --vfs-cache-max-age 24h --vfs-cache-max-size 10G
Restart=on-failure

[Install]
WantedBy=default.target
