[Unit]
Description=Update trending GitHub repos weekly
OnFailure=timer-failure-notify@%n.service

[Service]
Type=oneshot
ExecStart=/home/sanand/code/til/trending-repos.sh
WorkingDirectory=/home/sanand
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/bin:/home/sanand/.local/bin:/home/sanand/bin
