[Unit]
Description=Update file index daily

[Service]
Type=oneshot
ExecStart=/home/sanand/code/scripts/update-files
WorkingDirectory=/home/sanand
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/bin:/home/sanand/.local/bin:/home/sanand/bin
